h1{
    color:#007DC5;
    font-size:26px;
    font-weight:normal;
}
h2{
    color:#007DC5;
    font-size:18px;
    font-weight:normal;
}
a{
    color:#81C1C6;
	}
body{
    background-color:#1B5675;
    background-attachment: scroll;
    background-color: #1B5675;
    background-image: url("../img/bg.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    color: #000000;
    margin: 0 auto;
    padding: 0;
}
table{
    border-collapse:none;
}
#container{
	margin:0 auto;
	width:1000px;
	border-radius:5px;
	min-height:488px;
}
.container .pull-right li a:hover{
    color:#81C1C6;
}
.navbar .nav li.active a {
    color:white;
	text-decoration:underline;
}
.search_flight{	
	width:475px;
}
.img{
    margin-left: -71px;
    margin-top: -9px;}
.container .pull-right .logout:hover{
    text-decoration:underline;
	color:white;
}
.main{	
    background-color:white;
	min-height:488px;
	padding:15px;
	border-radius:8px;
}
.main .find_reserv{
    float: right;
    margin-top: -33px;
}
.main .find_reserv input{
    margin-bottom:0px;}
.main .banner{
    float:right;
	cursor:pointer;
	}
.news_info{
    margin-bottom:10px;
    border:3px solid #C7DDEE;
    border-radius:8px;
	
}
.newsTable .edit_data textarea{
    width:605px;
}
.main .news_main{
    height:18px;
	background-color:#C7DDEE;
	padding:10px;
}
.main .news_name{
    color:#1B5675;
	text-transform:uppercase;
	font-weight:bold;}
.main .news_date{
    float:right;
	color:#1B5675;
	text-decoration:underline;
	margin-top:-19px;
}
.main .news_date strong{
    color:#1B5675;
}
.main .news_text{
    padding:10px;
}
.header{
    position:relative;
    overflow:hidden;
}
.logo{
    font:bold 35px Arial;
    height:175px;
    overflow:hidden;
    cursor:pointer;
}
.logo img{
    padding-top:11px;
	padding-left:8px;	
}
.phone{
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-weight: normal;
    padding-right: 20px;
    padding-top: 18px;
    text-decoration: none;
    text-transform: none;
	float:right;
	margin-top:76px;
}
.navbar{
    margin-bottom:0px;
}
.navbar-inner{
    border-radius:8px;
}
span.number {
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 21px;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}
table thead{
    background-color:#C7DDEE;
}
.searchTable{
    border:3px solid #C7DDEE;
    border-radius:20px;
    padding:15px;
}
.flightsTable thead tr th {
    text-align: center;
    vertical-align: middle;
}

.flightsTable .price {
    width: 40px;
}
.flightsTable .date {
    width: 70px;
}

.searchTable .searchLabelRow td {
    padding-top: 5px;
	padding-bottom:5px;
}

.searchTable tr td {
    padding-right: 11px;
}
.searchTable strong {
    font:bold 16px Arial;
}
.title {
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    color: #000000;
    font: bold 16px/30px Georgia;
    height: 30px;
	text-transform:uppercase;
	margin-bottom:7px;
}
.table thead tr th{
    font-weight:bold;
}
.table thead tr td{
    font-weight:bold;
}

.fill {
    width: 100%;
}

.citiesTable{
width:auto;
}

.passengerFormLabel {
    text-align: right;
    padding-left: 15px;
    padding-right: 10px;
}
.footer{
    padding-top:10px;
    border-top:1px dotted black;
    text-align:center;
    color: #81C1C6;
}
.footer .login{
    text-decoration:underline;
}
.footer .login:hover{
   color:white;
   font-weight:bold;
}

.pad-right {
    padding-right: 5px;
}